/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_tree .
 *= require_self
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */
@import "bootstrap";
/* Some Style from the Bootstrap Default Theme */

body {
  padding-top: 0px;
  padding-bottom: 30px;
  padding-right: 70px;
  padding-left: 70px
}

#schedule-header,
#race-header {
  font-size: 22px;
  margin-top: 0px
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

#race-link {
  color: black;
  font-size: 16px;
  padding-bottom: 20px;
}

#race-info-statement {
  padding-bottom: 10px
}

body > div.simple-calendar {
  color: blue
}

body > table.table.table-striped {
  border: 1px solid black;
  text-align: center
}

td, th {
  border: solid 1px black;
}

tr, th {
  text-align: center;
  background-color: #A79CA1
}

body > table.table.table-striped > tbody > tr:nth-child(1) > td.day.wday-1.today.start-date.current-month.has-events, 
body > table.table.table-striped > tbody > tr:nth-child(1) > td.day.wday-2.future.current-month.has-events, 
body > table.table.table-striped > tbody > tr:nth-child(1) > td.day.wday-3.future.current-month.has-events,
body > table.table.table-striped > tbody > tr:nth-child(1) > td.day.wday-4.future.current-month.has-events,
body > table.table.table-striped > tbody > tr:nth-child(1) > td.day.wday-5.future.current-month.has-events,
body > table.table.table-striped > tbody > tr:nth-child(1) > td.day.wday-6.future.current-month.has-events,
body > table.table.table-striped > tbody > tr:nth-child(1) > td.day.wday-7.future.current-month.has-events,
body > table.table.table-striped > tbody > tr:nth-child(2) > td.day.wday-1.future.current-month.has-events,
body > table.table.table-striped > tbody > tr:nth-child(2) > td.day.wday-2.future.current-month.has-events,
body > table.table.table-striped > tbody > tr:nth-child(2) > td.day.wday-3.future.current-month.has-events,
body > table.table.table-striped > tbody > tr:nth-child(2) > td.day.wday-4.future.current-month.has-events,
body > table.table.table-striped > tbody > tr:nth-child(2) > td.day.wday-5.future.current-month.has-events,
body > table.table.table-striped > tbody > tr:nth-child(2) > td.day.wday-6.future.current-month.has-events,
body > table.table.table-striped > tbody > tr:nth-child(2) > td.day.wday-7.future.current-month.has-events,
body > table.table.table-striped > tbody > tr:nth-child(7) > td.day.wday-1.future.next-month.has-events,
body > table.table.table-striped > tbody > tr:nth-child(7) > td.day.wday-2.future.next-month.has-events,
body > table.table.table-striped > tbody > tr:nth-child(7) > td.day.wday-3.future.next-month.has-events,
body > table.table.table-striped > tbody > tr:nth-child(7) > td.day.wday-4.future.next-month.has-events,
body > table.table.table-striped > tbody > tr:nth-child(7) > td.day.wday-5.future.next-month.has-events,
body > table.table.table-striped > tbody > tr:nth-child(7) > td.day.wday-6.future.next-month.has-events,
body > table.table.table-striped > tbody > tr:nth-child(7) > td.day.wday-7.future.next-month.has-events
 {
  background-color: #D3CED0
}

#map {
  margin-top: 30px;
}

.simple-calendar {
  .day {}
  .month {}
  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {color: red}
}
